/*cabeçalho */
body{
    margin: 0;
    background-color: black;
}
#container_header{
    width: 1424px;
    background-color: #1A1A40;
    display: inline-flex;
    padding: 5px;
}

#cabecalhoLeft{
    width: 50%;
    height: 100px;
    background-color: #1A1A40;     
}
#cabecalhoRight{
    width: 50%;
    height: 100px;
    background-color: #1A1A40; 
    color: aliceblue;  
}
#logo{
    width: 100px;
    height: 100px;
    margin-left: 200px;
    
}
/* css da imagem */
#container_hero{
    width: 1424px;
    height: 470px;
    background-color: #1A1A40;
    display: inline-flex;
}
#info_pessoal{
    width: 50%;
    height: 470px;
    background-color: #1A1A40;
    color: white;
    text-align:center;
}
#hero_imagem{
    width: 50% ;
    height: 400px;
    text-align: center;
}
#hero{   
    width: 400px;
    height: 469px;
	text-align: center;
    
}

h1{
    font-size: 60px;
}
p{
    font-size: 30px;
    text-align: left;
    margin-left: 60px;
}
/*separação*/
.contaner_separacao{
    width: 1424px;
    background-color: #21325E;
    border-bottom: 3px solid #1A1A40;
}
.inst_separacao{
    width: 100%;
    display: inline-flex;

}
.separacao{ 
    width: 100%;
    padding: 20px;
    display: inline-flex;
    margin-left: 60px;
    text-align: center;
  
}

.informacao{
    font-size: 30px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;

}
.bola{
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 10px;

}

/* container conteudo */
.container_principal{
    background-color: #3e497a;
    width: 1424px;
  
}
.instrucoes{
    margin: 0 30px 0 80px;
    max-width: 900px;
    padding: 70px 0;
}
.inst_item{
    border-left: 3px solid #7c9be9;
    display: flex;  
}
.inst_circle{
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: #21325E;
    margin-left: -10px;
}
.inst_text{
    flex: 1;
    margin-left: 50px;
}
.inst_text h2{
    font-size: 30px;
    margin: -10px 0 0 0 ;
}
.inst_text p{
    font-size: 25px;
    line-height: 23px;
    color: #ccc;
    margin-bottom: 70px;
}
.link{
    color: white;
}
/*Rodapé*/
footer{
    background-color: #1A1A40;
    width: 1424px;
    height: auto;
    padding: 10px;
   
}
.rodape{
    width: 100%;
    display: inline-flex;

}
.logo_fim{
    text-align: left;
    margin-left: 100px;
    width: 50%;
    padding: 10px;
}
.logo_fim img{
    width: 80px;
    height: 80px;
}
.redes{
    width: 50%;
    text-align: left;  
}
#facebook{
    width: 50px;
    height: 50px;
    margin: 30px 30px 10px 30px;
}
#linkedin{
    width: 50px;
    height: 50px;
    margin: 30px 10px 10px 30px;
}
#instagram{
    width: 50px;
    height: 50px;
    margin: 30px 10px 10px 30px;
}
